.c-container {
    margin: 0px 0 0% 0;
}

.custom-box {
    text-align: center;
    background-color: #f4f6f900;
    padding: 1rem;
    border: 1px solid #d8dde6;
}

.slds-p-horizontal_small {
    text-align: center
}

img{
    width: 90%;
    height: 50%;
    -webkit-transition: height 1ms;
    -moz-transition: height 1ms;
    -o-transition: height 1ms;
     transition: height 1ms;
}
img:hover{
    width: 200%;
    height: 70%;
}

